@layout('layout.app')
@section('content')
    <h1>Sobre o projeto</h1>
    <div>O projeto tende a simular uma criação e sorteio de rifas!</div>
    <div>Esperamos que se divirtam</div>
    <div>Alunos:Arthur Lopes & Ruan Salomão</div>
    <a href="/">Home</a>
@endsection