@layout('layout.app')
@section('content')
    @if(auth.isLoggedIn)
     <h1>Olá,seja bem vindo {{ auth.user?.nome }}</h1>
    @else
     <h1>Olá,seja bem vindo</h1>
    @endif
    <div>
        <a href="/rifas">Menu de rifas</a>
    </div>
    <div>
        <a href="/about">About</a>
    </div>
@endsection