@layout('layout.app')
@section('content')
    <h1>Menu das rifas</h1>
    <a class="btn btn-primary" href="/rifas/create">Criar nova rifa</a>
    <a class="btn btn-primary" href="/rifas/show">Mostrar rifas</a>
    <div>
        <a href="/">Home</a>
    </div>
@endsection