@layout('layout/app')

@section('content')
  <h2>Rifas disponíveis</h2>

  <div class="container" >
    <div class="border border-secondary rounded-1">
      <p>Datas:</p>
      <p>Início da venda: {{rifa.dataInicioVenda}}</p>
    </div>
  </div>
  <div>
    <a href="/rifas" class="btn btn-link">Voltar</a>
  </div>
@endsection