@layout('layout/app')

@section('content')
  <h2>Menu de Rifas</h2>

  <div class="card">
    <div class="card-body">
      <p>Comprador: {{ rifa.nome }}</p>
    </div>
  </div>
  <div>
    <a href="/rifas" class="btn btn-link">Voltar</a>
  </div>
@endsection"